.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}