
.fixed {
  position: fixed;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.z-50 {
  z-index: 50;
}

.items-center {
  align-items: center;
}

.content-center {
  align-content: center;
}

.content-between {
  align-content: space-between;
}