@import "./colors.scss";

.border-none {
  border-style: none;
}

.border {
  border-width: 1px;
}

.border-0 {
  border-width: 0;
}

.border-b {
  @extend .border-none, .border-0;
  border-bottom-width: 1px;
}

.border-solid {
  border-style: solid;
}

.border-transparent {
  border-color: transparent;
}

@mixin border-color($color) {
  border-color: $color !important;
}

.border-white {
  @include border-color(white);
}

.border-blue-columbia {
  @include border-color($columbia-blue-color);
}

.border-blue-columbia-90 {
  @include border-color($columbia-blue-90-color);
}

.border-blue-300 {
  @include border-color($blue-300);
}

.border-blue-400 {
  @include border-color($blue-400);
}

.border-gray-300 {
  @include border-color($gray-300);
}

.border-gray-500 {
  @include border-color($gray-500);
}

//
// Radius
//

.rounded {
  border-radius: 0.25rem;
}