$columbia-blue-color: rgb(28, 76, 143);
$columbia-blue-90-color: rgba($columbia-blue-color, 0.9);
$columbia-blue-50-color: rgba($columbia-blue-color, 0.5);
$columbia-blue-60-color: rgba($columbia-blue-color, 0.6);
$columbia-blue-70-color: rgba($columbia-blue-color, 0.7);

.bg-blue-columbia {
  background-color: $columbia-blue-90-color;
}

.bg-blue-columbia-50 {
  background-color: $columbia-blue-50-color;
}

.bg-blue-columbia-60 {
  background-color: $columbia-blue-60-color;
}

.bg-blue-columbia-70 {
  background-color: $columbia-blue-70-color;
}

.border-blue-columbia {
  border-color: $columbia-blue-color;
}

.text-blue-columbia {
  color: $columbia-blue-color;
}
