$columbia-blue-color: #1d4f91; //rgb(0, 13, 116); //rgb(28, 76, 143);
$columbia-blue-10-color: rgba($columbia-blue-color, 0.1);
$columbia-blue-30-color: rgba($columbia-blue-color, 0.3);
$columbia-blue-40-color: rgba($columbia-blue-color, 0.4);
$columbia-blue-50-color: rgba($columbia-blue-color, 0.5);
$columbia-blue-60-color: rgba($columbia-blue-color, 0.6);
$columbia-blue-70-color: rgba($columbia-blue-color, 0.7);
$columbia-blue-80-color: rgba($columbia-blue-color, 0.8);
$columbia-blue-90-color: rgba($columbia-blue-color, 0.9);

$columbia-footer: #41516C;
$columbia-gray: #EFEFEF;
$columbia-dark-gray: #555555;
$columbia-primary-blue: #000d74;
$columbia-secondary-blue: #75AADB; //#2C6BAC;
$columbia-light-gray: #F9F9F9;

.bg-columbia-blue {
  background-color: $columbia-blue-color;
}

.bg-columbia-blue-10 {
  background-color: $columbia-blue-10-color;
}

.bg-columbia-blue-30 {
  background-color: $columbia-blue-30-color;
}

.bg-columbia-blue-40 {
  background-color: $columbia-blue-40-color;
}

.bg-columbia-blue-50 {
  background-color: $columbia-blue-50-color;
}

.bg-columbia-blue-60 {
  background-color: $columbia-blue-60-color;
}

.bg-columbia-blue-70 {
  background-color: $columbia-blue-70-color;
}

.bg-columbia-blue-80 {
  background-color: $columbia-blue-80-color;
}

.bg-columbia-primary-blue {
  background-color: $columbia-primary-blue;
}

.bg-columbia-secondary-blue {
  background-color: $columbia-secondary-blue;
}

.bg-columbia-gray {
  background-color: $columbia-gray;
}

.bg-columbia-light-gray {
  background-color: $columbia-light-gray;
}

.bg-columbia-footer {
  background-color: $columbia-footer;
}

.border-columbia-blue {
  border-color: $columbia-blue-color;
}

.border-columbia-secondary-blue {
  border-color: $columbia-secondary-blue;
}

.border-white-20 {
  border-color: rgba(255, 255, 255, 0.2);
}

.border-columbia-dark-gray {
  border-color: $columbia-dark-gray;
}

.text-columbia-blue-50 {
  color: $columbia-blue-50-color;
}

.text-columbia-blue-80 {
  color: $columbia-blue-80-color;
}

.text-columbia-dark-gray {
  color: $columbia-dark-gray;
}

.text-columbia-secondary-blue {
  color: $columbia-secondary-blue;
}

.bg-white-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-white-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-white-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-white-50 {
  background-color: rgba(255, 255, 255, 0.5);
}



.text-columbia-blue {
  color: $columbia-blue-color;
}

.text-white-50 {
  color :rgba(255, 255, 255, 0.5);
}

.text-white-80 {
  color :rgba(255, 255, 255, 0.8);
}

.text {
  @apply text-gray-800;
}

.text-gray {
  @apply text-gray-600;
}
