@tailwind base;

@tailwind components;


html {
  min-height: 100%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Lato' !important;
  font-weight: 400 !important;
  font-size: 12pt;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

.navbar {
  background-color: transparent;
}



.bottom-spacing-1 {
  margin-bottom: 1rem;
}

.is-vert-centered {
  display: flex;
  align-items: center;
}

.is-current {
  color: white !important;
}

.title {
  font-weight: 400;
}

.color-ani {
  @apply transition-colors duration-300;
}

.btn {
  @apply color-ani font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.no-padding {
  @apply m-0 p-0 border-none outline-none;
}

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}

.trans-ani {
  @apply transition duration-300;
}

a {
  @apply no-padding text-blue-700 no-underline border-b border-solid border-transparent pb-1 trans-ani;
}

a:hover {
  @apply text-blue-700 no-underline border-b border-solid border-blue-700;
}

.footer {
  @apply text-white text-sm h-64 p-8;
  background: rgba(28, 76, 143, 0.8);
}

.blue {
  @apply text-blue-700;
}

.white {
  @apply text-white;
}

.blue-bg {
  @apply bg-blue-700;
}

.blue-border {
  @apply border-blue-700;
}

.link {
  @apply no-padding no-underline border-b border-solid border-transparent pb-1 mb-1 trans-ani; 
}

.link-hover {
  @apply no-underline border-b border-solid;
}

.blue-link {
  @apply link blue; 
}

.blue-link:hover {
  @apply link-hover blue blue-border;
}

.white-link {
  @apply link text-white;
}

.white-link:hover {
  @apply link-hover text-white border-white;
}

.slide-menu-container {
  @apply fixed m-0 p-0 top-0 left-0 w-screen h-screen opacity-0 z-50 trans-ani;
  transform: translate3d(-100vw, 0, 0);
  background: rgba(0, 0, 0, 0.7);
}

.slide-menu-container-visible {
  @apply opacity-100;
  transform: translate3d(0vw, 0, 0);
}

.menu-column {
  @apply float-left m-0 p-0 bg-white h-screen;
  width: 80vw;
}

.search-bar {
  @apply row p-2 trans-ani border border-solid border-gray-500 rounded items-center bg-white mb-4;
}

.search-bar:hover {
  @apply border-blue-500;
}

.search-input[type=text] {
  @apply border-none w-full;
}

.header-link {
  @apply no-padding trans-ani mr-8 no-underline;
  color: rgb(28, 76, 143) !important;
  border-bottom: solid 1px white;
}

.header-link:hover {
  @apply no-underline;
  color: rgb(28, 76, 143) !important;
  border-bottom: solid 1px rgb(28, 76, 143) !important;
}

.mobile-header {
  @apply row text-white p-3;
  background: rgba(29, 79, 145, 0.8);
}


@tailwind utilities;
