
/* purgecss start ignore */
// @tailwind base;
// @tailwind components;
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./colors.scss";

html {
  min-height: 100%;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

body {
  /* font-family: 'Spartan' !important; */
  /* font-weight: 400 !important; */
  /* font-size: 12pt; */
  min-height: 100%;
  padding: 0;
  margin: 0;
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}


.navbar {
  background-color: transparent;
}



.bottom-spacing-1 {
  margin-bottom: 1rem;
}

.is-vert-centered {
  display: flex;
  align-items: center;
}

.is-current {
  color: white !important;
}

.title {
  font-weight: 400;
}

.color-ani {
  @apply transition-colors duration-300;
}

.btn {
  @apply color-ani font-bold py-2 px-4 rounded;
}

.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.no-padding {
  @apply m-0 p-0 border-none outline-none;
}

.row {
  @apply flex flex-row;
}

.col {
  @apply flex flex-col;
}

.trans-ani {
  @apply transition duration-300;
}



.footer {
  @apply text-white text-sm h-64 p-8;
  background: rgba(28, 76, 143, 0.8);
}

.blue {
  @apply text-blue-columbia; //text-blue-700;
}

.white {
  @apply text-white;
}

.blue-bg {
  @apply bg-blue-columbia;
}

.blue-border {
  @apply border-blue-columbia;
}

a {
  @apply no-padding no-underline trans-ani;
}

a:hover {
  @apply no-underline;
}

.link {
  @apply no-padding no-underline border-b border-solid border-transparent pb-1 trans-ani; 
}

.link-hover {
  @apply no-underline border-b border-solid;
}

.blue-link {
  @apply link blue; 
}

.blue-link:hover {
  @apply link-hover blue blue-border;
}

.blue-link-active {
  @apply border-b border-solid border-blue-columbia;
}

.white-link {
  @apply link text-white;
}

.white-link:hover {
  @apply link-hover text-white border-white;
}

.slide-menu-container {
  @apply fixed m-0 p-0 top-0 left-0 w-screen h-screen opacity-0 z-50 trans-ani;
  transform: translate3d(-100vw, 0, 0);
  background: rgba(0, 0, 0, 0.7);
}

.slide-menu-container-visible {
  @apply opacity-100;
  transform: translate3d(0vw, 0, 0);
}

.menu-column {
  @apply float-left m-0 p-0 bg-white h-screen;
  width: 80vw;
}

.search-bar {
  @apply row p-2 trans-ani border border-solid border-gray-400 rounded items-center bg-white mb-4;
}

.search-bar:hover {
  @apply border-blue-500;
}

.search-input[type=text] {
  @apply border-none w-full;
}

.header-link-active {
  @apply border-b border-solid blue-border;
}

.mobile-header {
  @apply row text-white p-3;
  background: rgba(29, 79, 145, 0.8);
}

.slide-menu-link {
  @apply bg-white no-padding p-4 blue font-semibold w-full border-b border-solid border-gray-500 block no-underline trans-ani;
}

.slide-menu-link:hover {
  @apply bg-blue-columbia-60 text-white no-underline;
}

.pagination-block {
  @apply row w-8 h-8 border border-solid border-gray-500 rounded justify-center items-center text-center m-2;
}

.pagination-link {
  @apply blue-link;
}

.is-current {
  @apply bg-blue-600 text-white;
}

.links-list {
  @apply flex m-0 p-0 w-full justify-center;
}

.link-item {
  @apply m-0 p-0;
}

.link-item:not(:last-child)::after {
  @apply ml-2 pl-2 border-l border-solid border-white;
  content: "";
}


/* purgecss end ignore */

//@tailwind utilities;
@import "tailwindcss/utilities";
