@import "../../assets/css/colors.scss";

.DayPicker-Day {
    width: 2rem !important;
    height: 2rem !important;
    max-width: 2rem !important;
    max-height: 2rem !important;
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
    color: black !important;
    border: none;
    border-radius: 0 !important;
    @apply transition duration-300;
}

.DayPicker-Day:hover {
    background-color: $columbia-secondary-blue-50 !important;
}

.DayPicker-Day--today {
    @apply font-semibold;
    color: white !important;
    background-color: $columbia-blue-90 !important;
}

.DayPicker-Day--today:hover {
    background-color: $columbia-blue-90 !important;
}

.DayPicker-Day--selected {
    color: white !important;
    background-color: $columbia-secondary-blue-90 !important;
}

.DayPicker-Day--selected:hover {
    background-color: $columbia-secondary-blue-90 !important;
}