$crumb-color: rgb(230, 230, 230);
$crumb-hover-color: rgb(220, 220, 220);

.breadcrumb-container {
  background-color: $crumb-color
}

.breadcrumb {
  padding-top: 1rem;
  padding-bottom: 1rem;
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0 0 2rem -1rem;
}
  
.breadcrumb li {
  float: left;
  padding: 0;
  margin: 0;
}

// .breadcrumb li+li:before {
//   padding-left: 1rem;
//   padding-right: 1rem;
//   color: black;
//   content: "/";
// }

.breadcrumb li a {
  margin: 0;
  outline: none;
  padding: 0.5rem 0 0.5rem 3rem;
  font-weight: 300;
  text-decoration: none;
  //background-color: $crumb-color;
  position: relative; 
  display: block;
  float: left;
  transition: background-color 0.5s;
}

.breadcrumb li a:hover {
  background-color: $crumb-hover-color;
  text-decoration: none !important;
}

.breadcrumb li a:after { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent; /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 2rem solid $crumb-color;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  left: 100%;
  z-index: 2;
  transition: border-left-color 0.5s;
}

.breadcrumb li a:hover:after {
  border-left-color: $crumb-hover-color;
}


.breadcrumb li a:before { 
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
  border-bottom: 50px solid transparent;
  border-left: 2rem solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px; 
  margin-left: 1px;
  left: 100%;
  z-index: 1; 
}

.breadcrumb li:first-child a {
  padding-left: 1rem;
}