ul.breadcrumb {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    list-style: none;
  }
  
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  
  ul.breadcrumb li+li:before {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: black;
    content: "/";
  }
  
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }