body {
  font-family: 'Lato' !important;
  font-weight: 400 !important;
  font-size: 12pt;
}

h1 {
  font-family: Quicksand !important;
  font-weight: 300 !important;
}

h2 {
  font-weight: 200 !important;
}