@charset "utf-8";
@import "~bulma/bulma.sass";

$TRANSPARENT_COLOR : rgba(0, 0, 0, 0);
$LINK_COLOR:  rgb(0, 102, 255);
$ANIMATION_TIMING: 0.5s;

body {
  font-family: 'Lato' !important;
  font-weight: 400 !important;
  font-size: 12pt;
}

h1 {
  font-weight: 300 !important;
}

h2 {
  font-weight: 300 !important;
}

h3 {
  font-weight: 300 !important;
}

.navbar {
  background-color: transparent;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.bottom-spacing-1 {
  margin-bottom: 1rem;
}