.news-item {
  margin-bottom: 2rem;
}

.news-side-bar-item {
  padding-bottom: 1rem;
  border-bottom: solid 1px rgb(200, 200, 200);
  margin-bottom: 1rem;
}

.news-item-date {
  font-weight: 300;
  text-transform: uppercase;
  color: rgb(100, 100, 100)
}

.news-item-title {
  font-weight: 600;
}