.search-bar-container {
    margin-bottom: 1rem;
}
.search-bar {
    display: flex;
    align-content: stretch;
    background: white;
    border: solid 1px rgb(200, 200, 200);
    padding: 0.5rem;
    transition: 0.5s;
    border-radius: 5px;
}

.search-bar:hover {
    border: solid 1px rgba(55, 113, 200, 0.8);
}

.search-input[type=text] {
    border: none;
    background: white;
    width: 100%;
}

.search-button {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    background: white;
}

.search-button:focus {
    outline: none;
}

.search-container button:hover {
    background: #ccc;
}
