.year-filter {
    cursor: pointer;
    padding: 0.5rem;
    background-color: white;
    transition: 0.5s;
    border-bottom: solid 1px rgb(230, 230, 230);
    width: 100%;
}

.year-filter-selected {
    color: white;
    background-color: cornflowerblue;
}